
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bar</title>
</head>
<body>
    <div> 
        <h1>FOOBAR!!!!</h1>
        <a href="/basic/index">Basic Index Page!!!</a>
    </div>
</body>
</html>
